.cover {
  opacity: 0.6;
  -webkit-mask:
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" preserveAspectRatio="none"><polygon points="20,20 20,180 180,100 " fill="black"/></svg>') 100% 100%,
    linear-gradient(#fff,#fff);
  -webkit-mask-composite:destination-out;
  mask:
    url('svg#mask') 100% 100%,
    linear-gradient(#fff,#fff);
  position: absolute;
  inset: 0;
  z-index:1;
  mask-composite:exclude;
}