@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "sans";
}

* {
  text-decoration: none;
}

button, input {
  all: unset;
}

@layer components {
  .background {
    @apply bg-light/background dark:bg-dark/background;
  }
  .stroke {
    @apply border-light/stroke dark:border-dark/stroke;
  }
  .component {
    @apply rounded-lg bg-light/component dark:bg-dark/component text-light/text dark:text-dark/text;
  }
  .page {
    @apply bg-light/background dark:bg-dark/background;
  }
  .text {
    @apply text-black dark:text-white;
  }
  .modal-bg {
    @apply absolute top-0 left-0 flex items-center justify-center w-full h-full overflow-hidden transition-all duration-300;
  }
  .center {
    @apply flex justify-center items-center;
  }
}
