.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media all and (max-width: 350px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #bar {
        width: auto;
        height: 1px;
        margin: 16px -16px;
    }
} 

