.range {
    width: 15rem;
    height: 0.75rem;
    outline: none;
    border-radius: 1rem;
    transition: all 450ms ease-in;
    -webkit-appearance: none;
    background: linear-gradient(to right, #00C981 0%, #00C981 50%, #ececec 50%, #ececec 100%);
}
.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 20px;
    border: 4px solid #ffffff;
    background: #00C981;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(19, 56, 77, 0.2);
  }

#number::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
